@import './transition.scss';

$button-background-color: rgba(100, 140, 140, 1);
$button-border-color: $button-background-color;
$button-active-background-color: rgba(120, 160, 160, 1);
$button-text-color: rgba(255, 255, 255, 1);

$secondary-button-background-color: rgba(140, 140, 140, 1);
$secondary-button-border-color: $secondary-button-background-color;
$secondary-button-active-background-color: rgba(160, 160, 160, 1);
$secondary-button-text-color: $button-text-color;

$blind-button-background-color: rgba(180, 180, 180, 1);
$blind-button-border-color: rgba(140, 140, 140, 1);
$blind-button-text-color: $button-text-color;

button,
.button {
    @include transition(background-color box-shadow, .25s, ease, 0)
    display: inline-block;
    padding: 5px 15px;
    background-color: $button-background-color;
    text-decoration: none;
    border: 1px solid $button-border-color;
    border-radius: 5px;
    color: $button-text-color;
    overflow: hidden;
}

.icon-button {
    padding: 5px 10px;
}

button:hover,
.button:hover,
button:active,
.button:active,
button:focus,
.button:focus {
    background-color: $button-active-background-color;
    text-decoration: none;
}

button,
.button,
button:hover,
.button:hover,
button:focus,
.button:focus,
button:visited,
.button:visited {
    color: rgba(255, 255, 255, 1);
}

button:focus,
.button:focus,
button:active,
.button:active {
    outline: none;
}

button:active,
.button:active,
button.pressed,
.button.pressed {
    border-color: mix($button-border-color, rgba(0, 0, 0, 1), 50);
    box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.secondary-button {
    background-color: $secondary-button-background-color;
    border-color: $secondary-button-border-color;
    color: $secondary-button-text-color;
}

.secondary-button:hover,
.secondary-button:active,
.secondary-button:focus {
    background-color: $secondary-button-active-background-color;
}

.blind-button,
.blind-button:hover,
.blind-button:active,
.blind-button:focus, {
    background-color: $blind-button-background-color;
    border-color: $blind-button-border-color;
    color: $blind-button-text-color;
    box-shadow: none;
}

.buttonset {
    display: inline-block;

    > * {
        float: left;
    }

    > *:first-child {
        border-radius: 5px 0 0 5px;
    }

    > *:last-child {
        border-radius: 0 5px 5px 0;
    }

    > *:first-child:last-child {
        border-radius: 5px;
    }
}