$std-font-size: 12px;
$std-line-height: 1.4;
$std-link-color: rgba(80, 120, 120, 1);

$button-background-color: rgba(100, 140, 140, 1);
$button-border-color: $button-background-color;
$button-active-background-color: rgba(120, 160, 160, 1);
$secondary-button-background-color: rgba(140, 140, 140, 1);
$secondary-button-border-color: $secondary-button-background-color;
$secondary-button-active-background-color: rgba(160, 160, 160, 1);

$buttonset-background-color: $button-background-color;
$buttonset-border-color: $button-border-color;

$input-border-color: rgba(200, 200, 200, 1);
$active-input-border-color: $button-active-background-color;

$drawer-background-color: rgba(220, 220, 220, 1);

$grid-border-color: rgba(200, 200, 200, 1);
$grid-head-background-color: rgba(240, 240, 240, 1);
