costimizer {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.search-queries {
    @include clearfix-clear-after();
    margin: 0 0 0 -10px;
}

.search-query,
.search-query-form,
.search-submit {
    float: left;
    margin: 10px 0 0 10px;
}

.search-input {
    min-width: 512px
}

.results-offers {
    margin: 0;
}
