costimizer {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.search-query {
    margin: 0;
    overflow: auto;
}

.search-input {
    min-width: 512px
}

.search-buttons {
    overflow: auto;
}

.search-input,
.search-button {
    display: block;
    float: left;
    margin: 10px 10px 0 0;
}

.results-offers {
    margin: 0;
}
