@mixin flex-parent($direction, $wrap) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin flex-child($grow, $shrink) {
    flex-grow: $grow;
    flex-shrink: $shrink;
}
