@mixin flex-parent($direction, $wrap) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin flex-child($grow, $schrink) {
    flex-grow: $grow;
    flex-schrink: $schrink;
}
