* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: $std-font-size;
    line-height: $std-line-height;
}

/*html, body,
div,
h1, h2, h3, h4, h5, h6,
ul,
dl {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
}

h1, h2, h3, h4, h5, h6,
ol, li,
dt, dd {
    flex-shrink: 0;
    flex-grow: 0;
}*/

audio,
canvas,
img,
video {
    vertical-align: middle;
}
