$std-font-size: 12px;
$std-line-height: 1.4;
$std-link-color: rgba(80, 120, 120, 1);

* {
    box-sizing: border-box;
}

h1,
h2 {
    margin: 5px 0 10px 0;
    font-size: 130%;
}

h3,
h4 {
    margin: 4px 0 8px 0;
    font-size: 115%;
}

h5,
h6 {
    margin: 3px 0 6px 0;
    font-size: 100%;
}

p,
ul,
ol {
    margin: 0 0 6px 0;
}

ul,
ol {
    padding: 0 0 0 20px;
}

li {
    margin: 0 0 1px 0;
}

a,
a:hover,
.link {
    color: $std-link-color;
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.busy {
    cursor: wait;
}

.hotkey {
    text-decoration: underline;
}
