@import './transition.scss';

$input-border-color: rgba(200, 200, 200, 1);
$active-input-border-color: rgba(120, 160, 160, 1);

input[type="text"],
textarea {
    @include transition(width max-width height max-height box-shadow, .15s, ease, 0);
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    color: rgba(0, 0, 0, 1);
    overflow: hidden;
    line-height: $std-line-height;
}

input[type="text"]:focus,
textarea:focus,
input[type="text"]:active,
textarea:active {
    border-color: $active-input-border-color;
    outline: none;
}

input[type="text"]:hover,
textarea:hover,
input[type="text"]:active,
textarea:active,
input[type="text"]:focus,
textarea:focus {
    box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, .25);
}
