input[type="text"],
textarea {
    padding: 5px;
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    color: rgba(0, 0, 0, 1);
    overflow: hidden;
    line-height: $std-line-height;
    transition-property: background-color, box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

input[type="text"]:focus,
textarea:focus,
input[type="text"]:active,
textarea:active {
    border-color: $active-input-border-color;
    outline: none;
}

input[type="text"]:hover,
textarea:hover,
input[type="text"]:active,
textarea:active,
input[type="text"]:focus,
textarea:focus {
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, .25);
    transition-duration: 0.1s;
}
