.mainmenu {
    float: left;
    margin: -10px 0 0 0;
}

.mainmenu-list {
    float: left;
    margin: 10px 10px 0 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.mainmenu-item {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
}

.mainmenu-link {
    display: block;
    text-decoration: none;
}

.mainmenu-link .button-icon {
    margin: 2px 3px;
}
