$grid-border-color: rgba(184, 184, 184, 1);
$grid-head-background-color: rgba(240, 240, 240, 1);

.grid {
    width: 100%;
    border: 0 solid $grid-border-color;
    border-width: 0 0 1px 0;
}

.grid-head {
    padding: 10px 15px;
    background: $grid-head-background-color;
    border: 0 solid $grid-border-color;
    border-width: 1px 0 0 0;
    font-weight: bold;
    vertical-align: top;
}

.grid-cell {
    padding: 10px 15px;
    border: 0 solid $grid-border-color;
    border-width: 1px 0 0 0;
    vertical-align: top;
}

.compact-grid {
    .grid-head {
        padding: 5px 5px;
    }

    .grid-cell {
        padding: 5px 5px;
    }
}

.naked-grid {
    border-bottom-width: 0;

    .grid-head:first-child,
    .grid-cell:first-child {
        border-bottom-width: 0;
    }
}