@import './../../assets/styles/layout.scss';
@import './../../assets/styles/button.scss';
@import './../../assets/styles/input.scss';
@import './../../assets/styles/table.scss';
@import './../../assets/styles/top.scss';
@import './../../assets/styles/drawer.scss';
@import './../../assets/styles/loading.scss';
@import './../../assets/styles/flex.scss';
@import './../../assets/styles/clearfix.scss';
@import './../../assets/styles/cards.scss';

costimizer {
    @include flex-parent(column, nowrap);
    @include flex-child(1, 1)
}

.search-queries {
    @include clearfix-clear-after();
    margin: 0 0 0 -10px;
}

.search-query,
.search-query-form,
.search-submit {
    float: left;
    margin: 10px 0 0 10px;
}

.search-query-input {
    min-width: 400px;
}

.results-items-grid {
    .grid-head {
        font-size: 1.2em;
    }

    .grid-label {
        width: 200px;
    }
}

.results-offers {
    max-height: 400px;
    margin: 20px 0 0 0;
    overflow: auto;
}
