<div class="top" toggler="tglr" toggler-init="query">
    <div class="topbar">
        <div class="logo">
            <h3>Allegro Costimizer <span class="beta">beta</span></h3>
        </div>
        <div class="mainmenu">
            <ul class="mainmenu-list">
                <li class="mainmenu-item">
                    <button class="mainmenu-link" ng-click="tglr.toggle('query')" ng-class="{'pressed': tglr.is('query')}">
                        <span class="button-label">Search</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="drawer search-drawer" ng-show="tglr.is('query')">
        <div class="drawer-body">
            <costimizer-ui-queries model="ctrl.model" on-submit="ctrl.on.submitQueries()"></costimizer-ui-queries>
        </div>
    </div>
</div>
<div class="main">
    <div class="content-box">
        <costimizer-ui-results results="ctrl.results"></costimizer-ui-results>
    </div>
</div>
