@import './../../assets/styles/layout.scss';
@import './../../assets/styles/sidebar.scss';
@import './../../assets/styles/button.scss';
@import './../../assets/styles/input.scss';
@import './../../assets/styles/table.scss';
@import './../../assets/styles/loading.scss';
@import './../../assets/styles/flex.scss';
@import './../../assets/styles/cards.scss';

$search-query-border-color: rgba(184, 184, 184, 1);

costimizer-ui {
    @include flex-parent(row, nowrap);
    @include flex-child(1, 1)
}

.sidebar {
    @include flex-child(0, 0);
    width: 250px;
    overflow: auto;
}

costimizer-ui-queries {
    display: block;
}

.search-query,
.search-query-form,
.search-add {
    padding: 10px;
    border-top: 1px solid $search-query-border-color;

    &:first-child {
        border-top-width: 0;
    }
}

.search-add {
    text-align: center;
}

.search-query-section {
    margin: 10px 0 0 0;

    &:first-child {
        margin-top: 0;
    }
}

.search-query-buttonset {
    width: 100%;
}

.main {
    @include flex-child(1, 1);
    overflow: auto;
}

.results-items-grid {
    .grid-head {
        font-size: 1.2em;
    }

    .grid-label {
        width: 200px;
    }
}

.results-offers {
    margin: 20px 0 0 0;
}
